.body {
  position: relative;
  max-height: 100px;
  overflow: hidden;
}

.body button {
  position: absolute;
  right: 10px;
}

.body img {
  width: 16px;
  height: 16px;
}

.body p {
  padding: 10px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
