.App {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 406px;
  position: relative;
}

.App-header,
.App-main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px;
}

.App-header {
  flex-direction: row-reverse;
  padding: 10px 8px;
  background-color: #252525;
  margin-bottom: 16px;
}

.App-header input {
  border: 1px solid #ccc;
}

.App-main {
  align-items: center;
  margin: auto;
}

.App-pagination,
.App-pagination button,
.App-para,
.App-error {
  display: flex;
  justify-content: center;
}

.App-pagination {
  gap: 4px;
  margin-block: 20px;
}

.App-pagination button {
  align-items: center;
  width: 30px;
  height: 30px;
  color: white;
  text-align: center;
  line-height: 30px;
  outline: none;
  background-color: #252525;
  border-radius: 4px;
}

.App-log {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.App-log .App-empty,
.App-error {
  padding: 10px;
  border-radius: 4px;
  margin: auto;
  color: #fff;
}

.App-log .App-empty {
  background-color: #262626e6;
  border: 1px solid #262626e6;
}

.App-log .App-error {
  background-color: #d11212e6;
  border: 1px solid #d11212e6;
}

@media (max-width: 266px) {
  .App-header {
    display: none;
  }
}
