*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

.card {
  width: 30%;
  min-width: 200px;
  box-shadow: 3px 1px 12px #ccc;
  border-radius: 4px;
  font-size: 15px;
  margin: 8px;
}

button {
  background-color: transparent;
  border-color: transparent;
  user-select: none;
  cursor: pointer;
}

.addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: green;
  color: #fff;
}

textarea {
  resize: none;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}